p {
    margin: 0px;
}

section {
    border: 1px solid gray;
    margin: 15px 0 0 0;
    padding: 10px;
}

.data-list .data {
    display: flex;
}

.data-list .data input {
    width: 50px;
    margin: 10px 2px;
}

.output-list input {
    width: 95%;
}

input[disabled] { background-color: #aaa; }
